<!DOCTYPE html>
<html lang="eng">
  <%-include("templates/head.ejs")-%>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Login Form -->
    <div class="login1" style="margin-top:85px">
      <h1>Login</h1>
      <form action="login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
      </form>
      <%if (user) {%>
        <div class="user-banner">
          <h1>Invalid username/password</h1>
        </div>
      <%}%>
    </div>
  </body>
</html>
