<!DOCTYPE html>
<html lang="eng">
  <%-include("templates/head.ejs")-%>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Register Form -->
    <div class="register">
      <h1>Register</h1>
      <form action="register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="passwordTwo" placeholder="Re-enter Password" required>
        <input type="submit">
      </form>
    </div>
    <%if (success) {%>
      <div class="user-banner">
        <h1>Account Created!</h1>
      </div>
    <%}%>
    <%if (passwordNoMatch) {%>
      <div class="user-banner">
        <h1>Passwords need to match</h1>
      </div>
    <%}%>
  </body>
</html>
