<!DOCTYPE html>
<html lang="eng">

<!-- Head -->
<%-include("templates/head.ejs")-%>

<body>

  <!--Nav bar-->
  <%-include("templates/nav.ejs")-%>
  <!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Welcome to Vulnerable Store!</span></h5>
      <div class="w3-content w3-light-grey">
        <p>We aim to offer our customers a variety of the latest PC products. We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support.</p>
        <p>We always keep an eye on the latest trends in PC hardware and put our customers’ wishes first. That is why we have satisfied customers all over the world and are thrilled to be a part of the PC technology industry.</p>
        <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you. </p>
      </div>
      <img src="/assets/group.png" style="width:100%;max-width:1000px" class="w3-margin-top">
    </div>
  </div>
  <br>
<!-- Footer -->
<%-include("templates/footer.ejs")-%>

</body>
</html>
