<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerable Store</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Login Form -->
    <div class="login">
      <h1>Login</h1>
      <form action="login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
      </form>
      <%if (user) {%>
        <div class="user-banner">
          <h1>Invalid username/password</h1>
        </div>
      <%}%>
    </div>
  </body>
</html>