<!DOCTYPE html>
<html lang="eng">
  <!-- Head -->
  <%-include("templates/head.ejs")-%>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Page Content -->
    <div class="w3-main" style="margin-top: 85px;">
      <!-- Register Form -->
      <div class="register">
        <h1>Register</h1>
        <form class="signup-content" action="register" method="POST">
          <div class="signcontainer">
            <label for="username"><b>Username</b></label>
            <input class="signup" type="text" name="username" placeholder="Enter Username" required>
            <label for="email"><b>Email</b></label>
            <input class="signup" type="text" name="email" placeholder="Enter Email Address" required>
            <label for="password"><b>Password</b></label>
            <input class="signup" type="password" name="password" placeholder=" Enter Password" required>
            <label for="passwordTwo"><b>Repeat password</b></label>
            <input class="signup" type="password" name="passwordTwo" placeholder="Re-enter Password" required>
            <input class="bb" type="submit">
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue;">Terms & Policy</a>.</p>
          </div>
        </form>
      </div>
      <%if (success) {%>
        <div>
          <h1>Account Created!</h1>
        </div>
      <%}%>
      <%if (passwordNoMatch) {%>
        <div>
          <h1>Passwords need to match</h1>
        </div>
      <%}%>
    </div>  
  </body>
</html>