<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vulnerable Store</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel='stylesheet' href='/stylesheets/w3.css'>
  <link rel='stylesheet' href='/stylesheets/fontawesome-free-5.12.1-web/css/all.css'>
</head>