<nav class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a class="w3-bar-item w3-button" href="/">Vulnerable Store</a>
    <a class="w3-bar-item w3-button"href="/login">Login</a>
    <a class="w3-bar-item w3-button" href="/register">Register</a>
    <a class="shopping-cart w3-button w3-bar-item" href="/cart">Cart<i class="fa fa-shopping-cart"></i></a>
  </div>
</nav>